h1{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
   padding-top: 60px;
   color:#333;
}
